/* magic card */

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 295px;
  padding: 3px;
  color: rgb(88 199 250 / 0%);
  font-size: 1.5em;
  text-align: center;
  background: #191c29;
  border-radius: 6px;
  cursor: pointer;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover::before, .card:hover::after {
  opacity: 0;
  animation: none;
}


.card::before {
    position: absolute;
    top: -1%;
    left: -2%;
    z-index: -1;
  width: 104%;
  height: 102%;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  border-radius: 8px;
    animation: magicspin 2.5s linear infinite;
  content: "";
}

.card::after {
  position: absolute;
  top: calc(295px / 6);
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  transform: scale(0.8);
    opacity: 1;
  filter: blur(calc(295px / 6));
  transition: opacity .5s;
  animation: magicspin 2.5s linear infinite;
  content: "";
}

@keyframes magicspin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.magic-bg {
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) !important;
  animation: magicspin 2.5s linear infinite !important;
}
