@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

.gallery {
  position: relative;
  height: 100vh;
}

.container {
  position: relative;
  width: 80vmin;
  max-width: 600px;
  height: 80vmin;
  max-height: 600px;
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.image,
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image svg,
.tabs svg {
  width: 100%;
}

.image {
  overflow: hidden;
  border-radius: 20px;
  pointer-events: none;
}

.border {
  cursor: pointer;
  fill: white;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 2;
  stroke-opacity: 0.7;
}
.border:hover {
  stroke-opacity: 1;
}

.container text {
  font-size: 28px;
  fill: white;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.75;
}

.tabs {
  z-index: 100;
}

.button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  transform: translateX(50%) translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: translateX(52%) translateY(-48%);
}
