.container {
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
  padding: 0 30px;
  overflow-y: auto;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    background: #000;
  }
  .text {
    margin-bottom: 40px;
    font-size: 24rem;
    text-align: left;
  }
}

.container > i {
  width: 100px;
  margin: 28px;
}
