.container {
  width: 100%;
  min-height: 100vh;
  padding: 100px 32px;
  overflow-y: auto;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    background: #000;
  }
}

.container > i {
  width: 100px;
  margin: 60rem;
}
