.container1 {
  width: 90%;
  height: auto;
}
.container2 {
  width: auto;
  height: 90%;
}
.carousel1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 36%;
  border: 8px solid transparent;
  border-image: linear-gradient(45deg, #1c6f50, #0f0d71) 1;
}
.carousel2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 36vw;
  border: 8px solid transparent;
  border-image: linear-gradient(45deg, #1c6f50, #0f0d71) 1;
}
