.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 1px;
  background: #111;
  background-image: linear-gradient(#111, #111), linear-gradient(to right, #333, #333);
  background-clip: content-box, border-box;
  border-radius: var(--space-2x);
  cursor: pointer;
}

.card:hover,
.card:focus {
  background-image: linear-gradient(#111, #111),
    linear-gradient(to right, var(--brand), var(--brand));
  outline: none;
}

.summary {
  @apply h-10 max-h-10	overflow-hidden;
}

.summary::before {
  float: left;
  width: 20px;
  content: '';
  @apply h-10;
}

.summary::after {
  position: relative;
  left:100%;
  float:right;
  width: 20px;
  transform: translate(-100%,-100%);
  content:'...';
  @apply h-10;
}

.grid {
  width: 100%;
  margin: 50px auto;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
  .grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.silver {
  border-radius: 6px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--space-4x);
  color: var(--secondary-color);
}

.imageWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.name {
  margin: 0;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
}

.description {
  margin-top: var(--space);
  margin-bottom: 0;
  line-height: 1.4;
}
