.bg {
  background: #2a2b44;
}

.container {
  min-height: calc(100vh - 90px);
}

.title-box {
  padding-top: 80px;
}

.header {
  background-image: linear-gradient(135deg, #2365f0, #793aff 52%, #ff712c);
}
