.bg {
  background: #2a2b44;
}

.container {
  min-height: calc(100vh - 90px);
}

.title-box {
  padding-top: 80px;
}

.header {
  background-image: linear-gradient(135deg, #2365f0, #793aff 52%, #ff712c);
}

.nav1{
  color: #FFF;
  font-weight: 500;
  font-size: 32rem;
  font-family: 'Kumar One', cursive;
}

.nav2{
  color: #000;
  font-weight: 500;
  font-size: 32rem;
  font-family: 'Kumar One', cursive;
}

.home-button{
  width: 184rem;
  height: 62rem;
  color: #FFF;
  font-size: 24rem;
  font-family: 'Kumar One', cursive;
  line-height: 62rem;
  text-align: center;
  border: 2px solid #F8F32B;
  border-radius: 40rem;
}

.home-top{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 19rem 24rem;
}

.home-middle{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 24rem;
}

.home-bottom{
  position: relative;
  width: 100%;
  height: 380rem;
}

.home-text1{
  color: #FFF;
  font-weight: 400;
  font-size: 24rem;
  font-family: 'Kumar One', cursive;
  line-height: 42rem;
}

.home-text2{
  color: #FFF;
  font-weight: 400;
  font-size: 24rem;
  line-height: 28rem;
}

.home-text3{
  color: #FFF;
  font-weight: 400;
  font-size: 64rem;
  font-family: 'Kumar One', cursive;
  line-height: 114rem;
}

.home-text4{
  color: #FFF;
  font-weight: 400;
  font-size: 24rem;
  font-family: 'Kumar One', cursive;
  line-height: 42rem;
}

.home-text5{
  color: #FFF;
  font-weight: 400;
  font-size: 24rem;
  line-height: 42rem;
}

.flower1{
  position: absolute;
  top: 10rem;
  left: 162rem;
  width: 44rem;
  height: 44rem;
}

.flower2{
  position: absolute;
  right: 410rem;
  bottom: 44rem;
  width: 44rem;
  height: 44rem;
}

.ball{
  position: absolute;
  right: -800rem;
  bottom: -340rem;
  width: 1760rem;
  height: 1100rem;
}