.container {
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
  padding: 0 30px;
  overflow-y: auto;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    background: #000;
  }
}

.container > i {
  width: 258px;
  margin: 12px 28px;
}

@media (max-width: 640px) {
  .container {
    justify-content: center;
  }
}
